<div class="input-date mb-3">
  <label [for]="input().label" class="form-label text-secondary fw-bold">{{ input().label }}</label>
  <div class="input-group">
    <input
      onkeydown="return false"
      lang="en-US"
      type="date"
      class="form-control"
      [id]="input().label"
      [placeholder]="input().placeholder"
      [formControl]="input().control"
      [mask]="input().mask"
      [ngClass]="{
        'is-invalid': input().control.errors,
        'is-valid': input().control.value && input().control.valid
      }"
      autocomplete="off"
    />
    <button
      *ngIf="input().control.value"
      (click)="reset()"
      class="btn btn-outline-secondary"
      type="button"
    >
      <i class="bi bi-x-circle"></i>
    </button>
    <span
      *ngIf="!input().control.value && !userAgent.toLocaleLowerCase().includes('firefox')"
      class="input-group-text"
      ><i class="bi bi-calendar"></i
    ></span>
    <div class="invalid-feedback">
      {{ input().control.errors | validationErrors: input().validationErrors }}
    </div>
  </div>
</div>
