.error {
  background-color: var(--bs-dark);
  left: 20%;
  position: fixed;
  top: 35%;
  width: 60%;
  z-index: 999999999;
}
.error-card {
  border: 1px solid var(--bs-secondary);
  border-radius: 1rem;
  box-shadow: 0 0 10px var(--bs-dark2);
  padding: 1rem;
  width: 300px;
}
