.nav-bar {
  position: relative;
  &__user {
    position: absolute;
    right: 2rem;
    top: 0rem;
    > a {
      color: var(--bs-primary);
      cursor: pointer;
      &:hover {
        color: var(--bs-secondary);
      }
    }
  }
  &__img {
    height: 55px;
  }
}

@media (max-width: 992px) {
  .nav-bar {
    &__user {
      font-size: 0.9rem;
      right: 0rem;
      top: -1.1rem;
    }
  }
}

@media (max-width: 576px) {
  .nav-bar {
    &__img {
      height: 40px;
    }
  }
}
