.nav-bar {
  user-select: none;
  &__img {
    height: 55px;
  }
  &__span {
    line-height: 0.9;
  }
  &__logout {
    color: var(--bs-secondary);
    cursor: pointer;
    line-height: 0;
    &:hover {
      color: var(--bs-primary);
    }
  }
}

@media (max-width: 576px) {
  .nav-bar {
    &__img {
      height: 40px;
    }
  }
}
