<div [@fadeIn] class="nav-bar mt-2 mb-2">
  <div class="navbar__container d-flex justify-content-center">
    <div class="navbar__container__title d-flex justify-content-center align-items-center">
      <span class="text-secondary fs-1 me-2">CRUD</span>
      <img [src]="imgAngular" class="nav-bar__img" alt="CRUD Angular + NgRx" />
      <span class="text-secondary fs-3 mx-2">+</span>
      <img [src]="imgNgrx" class="nav-bar__img" alt="Signals + NgRx" />
      <div class="d-flex flex-column ms-2">
        <div class="d-flex align-items-center justify-content-end text-light">
          <span class="me-2"><i class="bi bi-person me-1"></i>{{ jwt()?.email }}</span>
          <a (click)="logout()" class="nav-bar__logout fs-4"
            ><i class="bi bi-box-arrow-right"></i
          ></a>
        </div>
        <div>
          <span class="nav-bar__span text-secondary fs-3 me-2">with</span>
          <span class="nav-bar__span text-primary fs-2">Signals</span>
        </div>
      </div>
    </div>
  </div>
</div>
