.about-me {
  &__photo {
    background-color: var(--bs-dark2);
    border-radius: 50%;
    height: 100px;
    margin-right: 1rem;
    width: 100px;
    &:hover {
      background-color: var(--bs-primary);
    }
  }
  &__github {
    width: 100px;
    &:hover path {
      fill: var(--bs-primary);
    }
  }
  &__description {
    font-size: 0.9rem;
  }
  &__alert {
    background-color: rgb(62, 62, 66);
    border-radius: var(--bs-border-radius);
    font-size: 0.9rem;
    padding: 0.5rem;
  }
  > a {
    cursor: pointer;
  }
}
