<div [@fadeIn] class="about-me text-center">
  <img [src]="img" alt="Juan Manuel Muñoz González Front-End Architect" class="about-me__photo" />
  <img [src]="imgGithub" alt="CRUD Angular + NgRx GitHub Repository" class="about-me__github" />
  <h5 class="text-primary mt-1 mb-0">Juan Manuel Muñoz González</h5>
  <p class="text-secondary mb-1">Front-End Architect</p>
  <p class="text-light about-me__description">
    I’ve created a CRUD example with Angular and NgRx using Signals, perfect for developers who want
    to explore these technologies and see how they work with the latest features. Hope you enjoy it!
  </p>
</div>
