.about-me {
  &__photo {
    background-color: var(--bs-dark2);
    border-radius: 50%;
    height: 100px;
    margin-right: 1rem;
    object-fit: cover;
    width: 100px;
  }
  &__github {
    border-radius: 20px;
    width: 100px;
  }
  &__description {
    font-size: 0.9rem;
  }
}
