<div [@fadeIn] class="login-form mb-4">
  <form [formGroup]="loginForm" (submit)="login()">
    <app-input-text [input]="emailInput" />
    <app-input-pass [input]="passInput" />
    <button
      [disabled]="loading() || !loginForm.valid"
      type="submit"
      class="btn btn-primary form-control mt-3"
    >
      Login
      @if (loading()) {
        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
      }
    </button>
  </form>
  <p class="login-form__info-api text-light mt-3 text-center">
    <i class="bi bi-info-circle"></i> The application uses a static API for the demo, but it also
    includes the full implementation and tests of a real API.
  </p>
</div>
