<div class="login-form text-start">
  <form [formGroup]="loginForm" (submit)="login()">
    <app-input-text [input]="emailInput" />
    <app-input-pass [input]="passInput" />
    <button [disabled]="loading()" type="submit" class="btn btn-primary form-control mt-3">
      Login
      @if (loading()) {
        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
      }
    </button>
  </form>
  @if (loginError()) {
    <app-error [errorDescription]="loginError()?.error.message" />
  }
</div>
