<div class="login-form mb-4">
  <form [formGroup]="loginForm" (submit)="login()">
    <app-input-text [input]="emailInput" />
    <app-input-pass [input]="passInput" />
    <button
      [disabled]="loading() || !loginForm.valid"
      type="submit"
      class="btn btn-primary form-control mt-3"
    >
      Login
      @if (loading()) {
        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
      }
    </button>
  </form>
  @if (loginError()) {
    <app-error [errorDescription]="loginError()?.error.message" />
  }
</div>
