<div [@fadeIn] class="info-crud">
  <h5 class="text-secondary">Content:</h5>
  <p class="text-primary">
    <i class="text-secondary bi bi-check2 me-2"></i>CRUD Application Example
  </p>
  <p class="text-primary">
    <i class="text-secondary bi bi-check2 me-2"></i>Angular 20: New Features
  </p>
  <p class="text-primary"><i class="text-secondary bi bi-check2 me-2"></i>NgRx 20: New Features</p>
  <p class="text-primary">
    <i class="text-secondary bi bi-check2 me-2"></i>State with Signals and NgRx
  </p>
  <p class="text-primary">
    <i class="text-secondary bi bi-check2 me-2"></i>Login, Tokens, Guards, and Interceptors
  </p>
  <p class="text-primary">
    <i class="text-secondary bi bi-check2 me-2"></i>Unit Testing with Jasmine, 99.5% coverage
  </p>
  <p class="text-primary">
    <i class="text-secondary bi bi-check2 me-2"></i>E2E Testing with Cypress
  </p>
</div>
