<div>
  <label [for]="input().label" class="form-label">{{ input().label }}</label>
  <div class="input-pass input-group has-validation">
    <input
      #element
      [type]="input().type"
      [formControl]="input().control"
      [ngClass]="{
        'is-invalid':
          (input().control.value && input().control.errors) ||
          (input().control.errors && input().control.dirty),
        'is-valid': input().control.value && input().control.valid
      }"
      class="form-control"
      [placeholder]="input().placeholder"
    />
    <button
      (click)="showPass()"
      class="btn btn-outline-secondary"
      type="button"
    >
      <i *ngIf="input().type === enumTypeInput.PASS" class="bi bi-eye"></i
      ><i
        *ngIf="input().type === enumTypeInput.TEXT"
        class="bi bi-eye-slash"
      ></i>
    </button>
    <div class="invalid-feedback">
      {{ input().control.errors | validationErrors: input().validationErrors }}
    </div>
  </div>
</div>
