<div class="input-pass">
  <label [for]="input().label" class="form-label text-secondary fw-bold">{{ input().label }}</label>
  <div class="input-group has-validation">
    <input
      #element
      [type]="type"
      [id]="input().label"
      [formControl]="input().control"
      [ngClass]="{
        'is-invalid': input().control.errors,
        'is-valid': input().control.value && input().control.valid
      }"
      class="form-control"
      [placeholder]="input().placeholder"
      autocomplete="off"
    />
    <button (click)="showPass()" class="btn btn-outline-secondary" type="button">
      @if (type === enumTypeInput.PASS) {
        <i class="bi bi-eye"></i>
      }
      @if (type === enumTypeInput.TEXT) {
        <i class="bi bi-eye-slash"></i>
      }
    </button>
    <div class="invalid-feedback">
      {{ input().control.errors | validationErrors: input().validationErrors! }}
    </div>
  </div>
</div>
