<div class="info">
  <div class="row">
    <div class="col-xl-6">
      <app-avatar [avatar]="infoAvatar" />
      <div class="row my-4">
        <div class="col-6">
          <button (click)="edit()" class="btn btn-outline-primary w-100">
            <i class="bi bi-pencil"></i> Edit
          </button>
        </div>
        <div class="col-6">
          <button (click)="openModalDelete()" class="btn btn-outline-danger w-100">
            <i class="bi bi-x-circle"></i> Delete
          </button>
        </div>
      </div>
      <div class="mt-3">
        <app-box-info [boxInfo]="boxInfoPosition"></app-box-info>
      </div>
      <div class="mt-3">
        <app-box-info [boxInfo]="boxInfoIncorporation"></app-box-info>
      </div>
      <div class="mt-3 mb-2">
        <app-box-info [boxInfo]="boxInfoSalary"></app-box-info>
      </div>
    </div>
    <div class="col-xl-6">
      @defer (on viewport) {
        <app-chart [idChart]="'polar'" [userDetail]="userDetail" />
      } @placeholder {
        <app-spinner />
      }
    </div>
  </div>
</div>
