<div class="input-text mb-3">
  <label [for]="input().label" class="form-label text-secondary fw-bold">{{ input().label }}</label>
  <input
    #element
    type="text"
    class="form-control"
    [id]="input().label"
    [placeholder]="input().placeholder"
    [formControl]="input().control"
    [mask]="input().mask"
    [ngClass]="{
      'is-invalid': input().control.errors,
      'is-valid': input().control.value && input().control.valid
    }"
    autocomplete="off"
  />
  <div class="invalid-feedback">
    {{ input().control.errors | validationErrors: input().validationErrors }}
  </div>
</div>
