@media (min-width: 992px) {
  .border-lg {
    border-right: 1px solid var(--bs-dark2) !important;
  }
}

@media (max-width: 992px) {
  .border-sm-top {
    border-top: 1px solid var(--bs-dark2) !important;
    padding-top: 1rem;
  }
}
