<div [@fadeIn] class="logo text-center mt-lg-3">
  <h1 class="logo__title text-secondary">CRUD</h1>
  <div class="d-flex justify-content-center align-self-center align-items-center">
    <img [src]="imgAngular" class="logo__img" alt="CRUD Angular + NgRx" />
    <h3 class="text-secondary mx-2">+</h3>
    <img [src]="imgNgrx" class="logo__img" alt="Signals + NgRx" />
  </div>
  <p>
    <span class="text-secondary fs-2 mx-2">with</span>
    <span class="text-primary fs-1">Signals</span>
  </p>
</div>
