<div class="app-table text-start table-responsive placeholder-glow">
  <div class="app-table__search">
    <div class="input-group mb-1">
      <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
      <input
        type="text"
        [(ngModel)]="searchText"
        (ngModelChange)="changeSearh()"
        class="form-control"
        placeholder="Search users"
        [disabled]="loading()"
      />
    </div>
  </div>

  <table class="table table-hover" [class.opacity-25]="loading()">
    <thead>
      <tr>
        <th>Full Name</th>
        <th>Email</th>
        <th>Incorporation</th>
        <th>Position</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (user of users(); track $index) {
        <tr (click)="userDetail(user.email)">
          <td>{{ user.name }} {{ user.lastName }}</td>
          <td>
            {{ user.email }}
          </td>
          <td>
            {{ user.date | date: "dd/MM/yyyy" }}
          </td>
          <td>
            {{ user.position }}
          </td>
          <td>
            <i (click)="openModalDelete(user, $event)" class="text-danger bi bi-x-circle fs-5"></i>
          </td>
        </tr>
      }
      @if (loading()) {
        <!--<tr>
          <td colspan="5" style="text-align: center">
            <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
          </td>
        </tr>-->
      }
    </tbody>
  </table>
</div>
<div class="pagination d-flex justify-content-center mt-1">
  <div class="input-group pagination__content">
    <button
      (click)="previousPage()"
      [disabled]="currentPage() === 1"
      type="button"
      class="btn btn-outline-secondary"
    >
      <i class="bi bi-chevron-left"></i>
    </button>
    <input
      type="number"
      class="form-control"
      [min]="1"
      [max]="totalPages()"
      [(ngModel)]="pageText"
      (ngModelChange)="changePage()"
    />
    <span class="input-group-text" id="basic-addon2">/ {{ totalPages() }}</span>
    <button (click)="nextPage()" type="button" class="btn btn-outline-secondary">
      <i class="bi bi-chevron-right"></i>
    </button>
  </div>
</div>
<app-modal-delete
  [openModal]="openModal"
  [loadingDelete]="loadingDelete"
  [userDeleting]="userDeleting"
  (actionDelete)="actionModalDelete($event)"
/>
