<div class="app-table text-start table-responsive">
  <div class="app-table__content table-responsive">
    @if (loading()) {
      <div class="app-table__content__loading">
        <app-spinner />
      </div>
    }
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="text-nowrap">Full Name</th>
          <th>Email</th>
          <th>Incorporation</th>
          <th>Position</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (user of users(); track $index) {
          <tr [@fadeIn] (click)="userDetail(user.email)">
            <td class="text-nowrap">{{ user.name }} {{ user.lastName }}</td>
            <td>
              {{ user.email }}
            </td>
            <td>
              {{ user.date | date: "MM/dd/yyyy" }}
            </td>
            <td>
              {{ user.position }}
            </td>
            <td>
              <i
                (click)="openModalDelete(user, $event)"
                class="text-danger bi bi-x-circle fs-5"
              ></i>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="app-table__pagination d-flex justify-content-center mt-1">
    <div class="input-group app-table__pagination__content">
      <button
        (click)="previousPage()"
        [disabled]="page() <= 1"
        type="button"
        class="btn btn-outline-secondary"
      >
        <i class="bi bi-chevron-left"></i>
      </button>
      <input
        [mask]="'09'"
        type="text"
        class="form-control"
        [min]="1"
        [max]="totalPages()"
        [(ngModel)]="page"
        (ngModelChange)="changePage($event)"
      />
      <span class="input-group-text" id="basic-addon2">/ {{ totalPages() }}</span>
      <button
        (click)="nextPage()"
        [disabled]="page() >= totalPages()"
        type="button"
        class="btn btn-outline-secondary"
      >
        <i class="bi bi-chevron-right"></i>
      </button>
    </div>
  </div>
</div>
