.app-table {
  &__content {
    min-height: 28.8rem;
    position: relative;
    &__loading {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__pagination {
    &__content {
      max-width: 13rem;
    }
  }
  .table {
    cursor: pointer;
    line-height: 1.2;
    --bs-table-border-color: var(--bs-dark2);
  }
}
