@use "./theme" as *;
@use "bootstrap/scss/bootstrap" with (
  $theme-colors: $theme-colors
);
@use "bootstrap-icons/font/bootstrap-icons.scss";

body {
  background-color: var(--bs-dark);
  overflow-y: hidden;
}

.container {
  border: 1px solid var(--bs-dark2);
  border-radius: 2rem;
  clip-path: inset(0 round 2rem);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1.5rem;
}

.table {
  --bs-table-bg: none;
  tr > th {
    color: var(--bs-secondary);
  }
  tr > td {
    color: var(--bs-primary);
  }
}

.table-hover tbody tr:hover {
  background-color: var(--bs-dark2);
  > td {
    color: var(--bs-light);
  }
}

.form-control {
  background-color: transparent;
  border-color: var(--bs-secondary);
  color: var(--bs-primary);
}

.form-control:focus {
  background-color: transparent;
  color: var(--bs-primary);
}

.form-control::placeholder {
  color: var(--bs-dark2);
}

.form-control:disabled {
  background-color: var(--bs-dark2);
}

.input-group-text {
  background-color: transparent;
  border-color: var(--bs-secondary);
  color: var(--bs-secondary);
}

//ScrollBar
::-webkit-scrollbar {
  height: 0.4rem;
  width: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0px;
}

::-webkit-scrollbar-track:hover {
  background: var(--bs-dark2);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(100, 105, 110, 0.1);
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 105, 110, 0.2);
}

@media (max-width: 576px) {
  .container {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
