@use "./theme" as *;
@use "bootstrap/scss/bootstrap" with (
  $theme-colors: $theme-colors
);
@use "bootstrap-icons/font/bootstrap-icons.scss";

body {
  background: radial-gradient(circle at center, var(--bs-dark) 0%, #0d0d0d 100%);
}

.container {
  border: 1px solid var(--bs-dark2);
  border-radius: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1.5rem;
}

.form-control {
  background-color: transparent;
  border-color: var(--bs-secondary);
  color: var(--bs-primary);
}

.form-control:focus {
  background-color: transparent;
  color: var(--bs-primary);
}

.form-control::placeholder {
  color: var(--bs-dark2);
}

.form-control:disabled {
  background-color: var(--bs-dark2);
}

.input-group-text {
  background-color: transparent;
  border-color: var(--bs-secondary);
  color: var(--bs-secondary);
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

.modal-header {
  border-bottom-color: var(--bs-dark2);
}
.modal-footer {
  border-top-color: var(--bs-dark2);
}

.modal {
  margin-top: 5rem;
}

.table {
  --bs-table-bg: none;
  --bs-table-border-color: var(--bs-dark2);
  cursor: pointer;
  line-height: 1.2;
  tr > th {
    color: var(--bs-secondary);
  }
  tr > td {
    color: var(--bs-primary);
  }
}

.table-hover tbody tr:hover {
  background-color: var(--bs-dark2);
  > td {
    color: var(--bs-light);
  }
}

//ScrollBar
::-webkit-scrollbar {
  height: 0.4rem;
  width: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0.5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(100, 105, 110, 0.1);
  border-radius: 0.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 105, 110, 0.3);
}

@media (max-width: 576px) {
  .container {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
